@import "compass";

.aui {
	body {
		color: #484A4C;
	}

	h1, h2, h3 {
		margin: 0;
		padding: 0;
	}

	h1 {
		font-size: 17px;
	}

	h2 {
		font-size: 15px;
	}

	h3 {
		font-size: 13px;
	}

	/* ---------- Wrapper ---------- */

	#wrapper {
		margin: 0 auto;
		padding: 35px 0 0;
		width: 700px;
	}

	/* ---------- Banner ---------- */

	#banner {
		#heading {
			padding-left: 20px;

			.logo img {
				height: 60px;
				width: auto;
			}
		}

		.span12 {
			position: relative;
		}

		/* ---------- Sign In ---------- */

		#sign-in {
			background: #2CABE2;
			bottom: 20px;
			color: #FFF;
			font-size: 12px;
			padding: 2px 20px;
			position: absolute;
			right: 20px;
			text-decoration: none;

			&:focus, &:hover {
				background: #F8F8F8;
				color: #908E91;
			}
		}
	}

	/* ---------- Navigation ---------- */

	.page-maximized.signed-out #navigation {
		display: none;
	}

	#navigation {
		position: relative;

		h1 {
			margin: 0;
		}

		ul {
			border-collapse: collapse;
			display: table;
			margin: 0;
			width: 100%;

			li ul {
				display: none;
			}
		}

		li {
			border: solid #E2E3E3;
			border-width: 0 1px;
			display: table-cell;
			width: 33.333%;

			&:first-child {
				border-left-width: 0;
			}

			&:last-child {
				border-right-width: 0;
			}

			&.selected a {
				background: #2CABE2;
				color: #FFF;
			}
		}

		a {
			background: #F8F8F8;
			color: #908E91;
			display: block;
			font-size: 12px;
			font-weight: bold;
			outline: 0;
			overflow: hidden;
			padding: 0.3125em 0;
			text-align: center;
			text-decoration: none;

			&:focus, &:hover {
				background: #2CABE2;
				color: #FFF;
			}

			&.selected {
				&:focus, &:hover {
					color: #FF0;
				}
			}
		}
	}

	/* ---------- Sign In Portlet ---------- */

	.portlet-login {
		border-top: 1px solid #BFBFBF;
		padding-top: 15px;

		a {
			color: #2CABE2;
		}

		a, .taglib-icon .taglib-text {
			text-decoration: none;
		}

		.navigation {
			background: transparent;
			padding-bottom: 0;
		}
	}

	/* ---------- Content ---------- */

	.journal-content-article {
		ul {
			list-style: none;
			margin-left: 20px;
		}

		li {
			margin: 4px 0;
		}

		a, li span {
			color: #484A4C;
			font-size: 11px;
			font-weight: bold;
			text-decoration: none;
		}

		p {
			font-size: 11px;
			font-weight: bold;
			margin: 10px 10px 10px 20px;
		}

		.left, .right {
			float: left;
		}

		nav {
			ul li.selected {
				list-style-image: url(../images/custom/blue_arrow.png);
			}

			li:hover a, li.selected a {
				color: #2CABE2;
			}
		}
	}

	.portlet-column-content {
		padding: 0;
	}

	.navigation-wrapper {
		height: 304px;

		.content-area {
			display: none;

			&.selected {
				display: block;
				height: 100%;
				position: absolute;
				text-indent: -9999px;
				top: 0;
				right: 0;
				width: 100%;
			}
		}

		.content-head {
			position: relative;
			width: 343px;
			z-index: 1;

			hgroup {
				h1 {
					line-height: 20px;
					padding: 1em
				}

				hr {
					border: 0 solid #CECDD2;
					border-width-top: 1px;
					height: 1px;
					margin: 0 0 0 18px;
					width: 80%;
				}
			}
		}

		.content-area #marketplace {
			cursor: pointer;
			display: block;
			height: 22px;
			position: absolute;
			right: 10px;
			top: 251px;
			width: 289px;
		}
	}

	/* ---------- Footer ---------- */

	#footer {
		border-collapse: collapse;
		font-size: 11px;
		margin: 0;

		.span4 {
			border: 1px solid #BFBFBF;
		}

		div:first-child, div:last-child {
			border-left: 0;
			border-right: 0;
		}

		h3 {
			line-height: 20px;
		}

		a {
			bottom: 10px;
			color: #484A4C;
			font-weight: bold;
			text-decoration: none;

			&:hover {
				color: #2CABE2;
			}
		}

		&:after {
			clear: both;
			content: "";
		}

		.footer-column-content {
			display: table;
			margin: 10px;
		}

		.footer-content {
			display: table-cell;
			padding-left: 10px;
			vertical-align: middle;
		}

		#getting-started, #ide, #social-office {
			.footer-logo {
				background-image: url(../images/custom/footer_sprite.png);
				background-repeat: no-repeat;
				display: table-cell;
				height: 76px;
				width: 76px;
			}
		}

		#ide .footer-logo {
			background-position: -76px;
		}

		#social-office .footer-logo {
			background-position: -152px;
		}
	}

	/* ---------- Hidden Accessible ---------- */

	#navigation h1, .site-breadcrumbs h1, #skip-to-content {
		clip: rect(0 0 0 0);
		position: absolute;
	}

	/* ---------- Extras ---------- */

	#navigation {
		@include box-shadow(0 2px 5px #E2E3E3);
	}
}