<div class="banner">
	<div class="bannerMainMessage">
		<h2>$Banner_Message.getData()</h2>
	</div>

	#if (!$Banner_Button_Text.getData().isEmpty())
		<div class="bannerCallToAction">
			<a href="$Banner_Button_Text.Banner_Button_Link.getData()" class="$Banner_Button_Text.Banner_Button_Style.getData() $Banner_Button_Text.Banner_Button_Size.getData()">$Banner_Button_Text.getData()</a>
		</div>
	#end
</div>